{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Register Page</h1>
<div class="col-md-6 offset-md-3">
    <form method="POST" action ="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup></sup>x</sup></small>
            </button>
            <p>Your Registration has errors</p> 
            {% for field in form %}
                {% if field.errors%}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}

        </div><br />
        {% endif %}
    {{ form.as_p}}
    <button type="submit" value="Register" class="btn btn-secondary">register</button>
    </form>
</div>
{% endblock %}